/*.page-header, .container,*/ body{
	background-color: #55acee;
}
.page-header{
	text-align: center;
	font-family: Arial, sans-serif;
}
.container{
	padding: 10px;
}
.row{
	background-color: white;
	width: 300px;
	margin: 10px auto;
	border-radius: 5px;
	padding-bottom: 5px;
}
.user{
	display: inline-block;
	font-family: Arial, sans-serif;
	margin: 5px;
	font-weight: bold;
}
.time{
	margin-left: 15px;
	display: inline-block;
	font-size: 12px;
	color: gray;
}
.message{
	margin: 0 10px 10px 10px;
}
.pointer{
	cursor: pointer;
}
